<div class="container-subscriber">
<%= image_tag("cq-logo.svg", alt: "Cryptoquery", class: "cq-logo") %>

<div class="cq-text">COMING SOON.</div>
<% if notice %>
  <div class="notice"><%= notice %></div>
<% end %>
<h3 class="signup-text">REGISTER FOR UPDATES</h3>
<div id="form-container">
<i class="far fa-envelope"></i>
<%= form_for @subscriber, :html => {class: "signup-form"} do |f| %>
  <%= f.email_field :email, placeholder: "EMAIL", class: "email-field", required: true %>
  <%= f.submit "GET UPDATES", class: "submit-button" %>
<% end %>
</div>
</div>
