// All CSS/SCSS files in /stylesheets will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// SCSS files organization based on SMACSS (Scalable and Modular Architecture for CSS - https://smacss.com/)

html {
  background: #0b0b12;
  height: 100%;
  color: #dbdbdb;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  a {
    text-decoration: none;
    color: inherit; 
  }
}

body {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 0;
}



