// All CSS/SCSS files in /stylesheets will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// SCSS files organization based on SMACSS (Scalable and Modular Architecture for CSS - https://smacss.com/)

// Colours
// $secondary-one: #474753;
// $secondary-five: #C3C3C3;

// Mixins
@mixin flex-vhc {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #474753;
}

nav a:hover {
  color: #C3C3C3;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 46px;
  margin: 0px 0px 0px 0px;
}

nav li {
  list-style: none;
  font-size: 8pt;
  // font-weight: bold;
  letter-spacing: 1.5pt;
  margin-left: 45px;
  display: flex;
  justify-content: center;
  align-items: center;  
  display: none;
  animation: fadein 1s;
}

nav .fas {
  font-size: 20pt;
  margin-left: 50px;
  color: #474753;
}

@media (min-width:801px)  {
  // applied to everything above 801px
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  nav .fas {
    display: none;
  }
  nav li {
    display: unset !important;
  }
}

header {
  width: 100%;
  padding: 0px 0px 0px 0px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Container for static_pages/index

.container-subscriber {
  height: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-coins {
  height: auto;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background: #060609;
  min-height: 250px;
  width: 100%;
  margin-top: 50px;
  padding-top: 20px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 20px 20px 20px;
}