// All CSS/SCSS files in /stylesheets will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// SCSS files organization based on SMACSS (Scalable and Modular Architecture for CSS - https://smacss.com/)


.coin-element {
  border-top: 2px solid #2622B6;
  border-bottom: 2px solid #2622B6;
  height: 50px;
  background-color: #2622B6;
  margin: 0px 0px 5px 0px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 8px;
  color: #BBBBBB;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  transition: 0.3s;
  width: 600px;
}

.coin-element:hover {
  border-top: 2px solid #26ED83;
  background-color: #5A5A5A;
}

button.submit-button {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-image-width: 0px;
  padding: 10px 5px 10px 5px;
  // background-color: #161652;
  background-color: #2925da;
  border: 0px;
  color: #a4a2a2;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 7pt;
  -webkit-appearance: none;
}



@keyframes fade {
    from { opacity: 1; }
    to   { opacity: 0.85; }
}

.cq-logo {
  width: 30px;
  margin: 0 0 30px 0;
  opacity: 0.80;
  animation: fade 3s; 
}

header .cq-logo {
  margin: 0;
}

.cq-text {

  display: none;
  color: #dbdbdb;
  opacity: 0.5;
  font-family: 'Open Sans', sans-serif;
  font-size: 6pt;
  letter-spacing: 4px;
  margin-left: 3px;
  margin-bottom: 20px;
}

.notice {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 7pt;
}

#form-container {
  display: flex;
  flex-direction: row;
}

.fa-envelope {
  margin-right: 10px;
  margin-top: 32px;
  opacity: 0.2;
}

footer .fas, footer .fab {
  margin-right: 10px;
  margin-top: 32px;
  color: #575760;
  font-size: 30px;
}

.signup-text {
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 6pt;
  letter-spacing: 4px;
  color: #dbdbdb;
}

.signup-form {
  margin: 25px 15px 0px 0px;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 4px;
  .email-field {
    width: 200px;
    background-color: #191929;
    padding-left:30px;
    margin-bottom: 10px;
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #161652;
    padding: 10px 10px 10px 10px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 7pt;
    color: #a4a2a2;
    -webkit-appearance: none;
  }
  .submit-button {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-image-width: 0px;
    padding: 10px 5px 10px 5px;
    background-color: #2925da;
    border: 0px;
    color: #a4a2a2;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 7pt;
    -webkit-appearance: none;
  }
  .submit-button:focus, .email-field:focus {
    outline: none;
  }
  .submit-button:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: translateY(2px);
  } 
  .email-field:focus {
    background-color: #191929;
  }
}

.footer-column ul {
  font-size: 10px;
  list-style: none;
  letter-spacing: 0.8px;
  line-height: 28px;
  padding: 0;
  color: #575760;
}

.copyright-text {
  color: #575760;
  font-size: 8px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.footer-column li:first-child {
  font-weight: 700;
  font-size: 11px;
}
