<footer>

  <div class="footer-container">
      <div class="footer-column"><ul>
    <li>RESOURCES</li>
    <li>GUIDES</li>
    <li>EXCHANGE RANKINGS</li>
    <li>COIN RANKINGS</li>
  </ul></div>
  <div class="footer-column"><ul>
    <li>COMPANY</li>
        <li>ABOUT</li>
        <li>CONTACT</li>
        <li>SITEMAP</li>
        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfA2kYHSJQLlwhpIqGwwCYaqIYYiZ7dTuPGKeOTEnVtYhSvHQ/viewform">FEEDBACK</a></li>   
  </ul>
</div>
  <div class="footer-column">  
    <a href="https://www.buymeacoffee.com/cryptoquery"><i class="fas fa-coffee"></i></a>
    <a href="https://twitter.com/CryptoQuery_"><i class="fab fa-twitter"></i></a>
    <div class="copyright-text">© <a href="/">Cryptoquery</a></div>
</div>
</div>

</footer>

