<header>
  <div class="header-container">
    <%= link_to root_path do %>
    <%= image_tag("cq-logo.svg", alt: "Cryptoquery", class: "cq-logo") %>
    <% end %> 
    <nav>
      <li id="about-li"><a href="/">GUIDES</a></li>
      <li id="contact-li"><a href="/">COINS</a></li>
      <li id="contact-li"><a href="/">EXCHANGES</a></li>
      <i aria-label="Menu" id="menu" class="fas fa-bars"></i>
    </nav>
  </div>
</header>