<%= form_with(model: coin, local: true) do |form| %>
  <% if coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
      <% coin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :ranking %>
    <%= form.text_field :ranking %>
  </div>

  <div class="field">
    <%= form.label :speed %>
    <%= form.text_field :speed %>
  </div>

  <div class="field">
    <%= form.label :team %>
    <%= form.text_field :team %>
  </div>

  <div class="field">
    <%= form.label :community %>
    <%= form.text_field :community %>
  </div>

  <div class="field">
    <%= form.label :development %>
    <%= form.text_field :development %>
  </div>

  <div class="field">
    <%= form.label :adoption %>
    <%= form.text_field :adoption %>
  </div>

  <div class="field">
    <%= form.label :reputation %>
    <%= form.text_field :reputation %>
  </div>

  <div class="field">
    <%= form.label :wallet %>
    <%= form.text_field :wallet %>
  </div>

  <div class="field">
    <%= form.label :github %>
    <%= form.text_field :github %>
  </div>

  <div class="field">
    <%= form.label :wiki %>
    <%= form.text_field :wiki %>
  </div>

  <div class="field">
    <%= form.label :subreddit %>
    <%= form.text_field :subreddit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
