<div class="container-coins">
<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <tr class="coin-element">
      <td>#</td>
      <td>NAME</td>
      <td>SCORE</td>
    </tr>
    <% @coins.each do |coin| %>
      <tr class="coin-element">
        <td>0</td>
        <td><%= coin.name %></td>
        <td><%= coin.ranking %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to new_coin_path do %>
  <button class="submit-button">NEW COIN</button>
<% end %>
</div>
