<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coin.name %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @coin.ranking %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @coin.speed %>
</p>

<p>
  <strong>Team:</strong>
  <%= @coin.team %>
</p>

<p>
  <strong>Community:</strong>
  <%= @coin.community %>
</p>

<p>
  <strong>Development:</strong>
  <%= @coin.development %>
</p>

<p>
  <strong>Adoption:</strong>
  <%= @coin.adoption %>
</p>

<p>
  <strong>Reputation:</strong>
  <%= @coin.reputation %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @coin.wallet %>
</p>

<p>
  <strong>Github:</strong>
  <%= @coin.github %>
</p>

<p>
  <strong>Wiki:</strong>
  <%= @coin.wiki %>
</p>

<p>
  <strong>Subreddit:</strong>
  <%= @coin.subreddit %>
</p>

<%= link_to 'Edit', edit_coin_path(@coin) %> |
<%= link_to 'Back', coins_path %>
